<nav class="navbar navbar-expand fixed-top navbar-dark bg-info p-1">
    <span class="navbar-brand">Node.js</span>
    <ul class="navbar-nav ml-5">
        <li class="nav-item mr-3">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item dropdown mr-3">
            <a href="#" class="nav-link active dropdown-toggle"
            data-toggle="dropdown">Webboard</a>
            <div class="dropdown-menu">
                <a href="/webboard/show-all-questions"
                class="dropdown-item">Questions</a>
                <a href="/webboard/new-question"
                class="dropdown-item">New Questions</a>
            </div>
        </li>
        <li class="nav-item mr-3">
            <a class="nav-link active"
            href="#">Contact</a>
        </li>
    </ul>
</nav>