<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APP14-2</title>
  </head>
  <body>
    <form method="POST" action="/add">
      <input type="number" name="num1" step="any" placeholder="Number 1" />
      <br /><br />
      <input type="number" name="num2" step="any" placeholder="Number 2" />
      <br /><br />
      <button>Add</button>
    </form>
    <br />
    <% if (locals.n1) { %> <%= n1 %> + <%= n2 %> = <%= r %> <% } %>
  </body>
</html>
