<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MongoDB & Web</title>
  </head>
  <body>
    <br /><br />
    <div style="text-align: center; font-family: verdana">
      <a href="/add-Product">Add-Product</a><br /><br />
      <a href="/show-Product-all">show-Product-all</a><br /><br />
      <a href="/show-Product-search">show-Product-search</a><br /><br />
      <a href="/show-Product-edit">show-Product-edit</a><br /><br />
      <a href="/show-Product-paging-pn">show-Product-paging-pn</a><br /><br />
      <a href="/show-Product-paging-no">show-Product-paging-no</a><br /><br />
      <br /><br />
    </div>
  </body>
</html>
