<html>
  <head>
    <title>XXXXXXX</title>
  </head>
  <body>
    Name : <%= name %> <br />
    <br /><br />
    <% prices.forEach((item)=>{ %> Size : <%= item.size %> <br />
    Price : <%= item.price %> <br />
    <hr />
    <% }) %>
  </body>
</html>

<!-- SHIFT + ALT + F -->
