<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layouts/head")  %>
    <style>
        #container { width: 600px; }
        div#question-container { background-color: powderblue; }
        h6#question { color: navy; font-weight: bold; }
        #question_image { max-width: 400px; max-height: 300px; }
        div.answer { background-color: #def; }
        div.questioner , div.answerer { border-top: 1px dotted gray; }
        span.date-posted { display: block; margin-left: 20px; color: gray; font-size: smaller; float: right;}
    </style>
</head>
<body>
    <%- include("layouts/nav")  %>
    <%- include("layouts/footer")  %>
</body>
</html>