<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("layouts/head")  %>
</head>
<body>
    <%- include("layouts/nav")  %>
    <div id="container" class="my-5">
        <div class="jumbotron p-4">
            <h3>Workshop</h3>
            <p class="text-success">Create webboard</p>
            <hr/>
            <p> พัฒนา Web Application ด้วย JavaScript และ Node.js </p>
            <a href="/webboard/new-question"
            class="btn btn-primary btn-sm mr-4">New question</a>
            <a href="/webboard/show-all-question"
            class="btn btn-success btn-sm">Show all question</a>
        </div>
    </div>
    <%- include("layouts/footer")  %>
</body>
</html>